.*
*.db
*.boltdb
*.pyc
screenlog*
*bindata.go
todo/*
dist/*
executables
__pycache__
cpu.out
*.pprof
torch.svg
*.test
stockpup/*
*.o
node_modules/*
whitepaper.html
assets/build.js
assets/styles.css
web/vendor/templates.precompiled.js
assets/world.jpg
